@charset "UTF-8";
/*&:before{
  background: url("../image/sub.png") 0px 0px no-repeat;
  content: "";
  display: inline-block;
  width: 20px;
  height: 12px;
  position: absolute;
  left: -1px;
  top: 2px;
}
@include old-ie{
  *zoom: expression(
    this.runtimeStyle.zoom="1",
    this.appendChild( document.createElement("small") ).className="before"
  );
  .before{
    background: url("../image/sub.png") 0px 0px no-repeat;
    width: 20px;
    height: 12px;      
    position: absolute;
    left: -1px;
    top: 2px; 
  }
}*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'proximanova';
  src: url("fonts/proximanova-reg.eot");
  src: url("fonts/proximanova-reg.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-reg.woff2") format("woff2"), url("fonts/proximanova-reg.woff") format("woff"), url("fonts/proximanova-reg.ttf") format("truetype"), url("fonts/proximanova-reg.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanova_bold';
  src: url("fonts/proximanova-bold.eot");
  src: url("fonts/proximanova-bold.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-bold.woff2") format("woff2"), url("fonts/proximanova-bold.woff") format("woff"), url("fonts/proximanova-bold.ttf") format("truetype"), url("fonts/proximanova-bold.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanova_light';
  src: url("fonts/proximanova-light.eot");
  src: url("fonts/proximanova-light.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-light.woff2") format("woff2"), url("fonts/proximanova-light.woff") format("woff"), url("fonts/proximanova-light.ttf") format("truetype"), url("fonts/proximanova-light.svg#proxima_nova_ltlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanova_italic';
  src: url("fonts/proximanova-regit.eot");
  src: url("fonts/proximanova-regit.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-regit.woff2") format("woff2"), url("fonts/proximanova-regit.woff") format("woff"), url("fonts/proximanova-regit.ttf") format("truetype"), url("fonts/proximanova-regit.svg#proxima_novaregular_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: proximanova;
  font-size: 18px;
}

strong, b {
  font-family: proximanova_bold;
}

i {
  font-family: proximanova_italic;
}

.light {
  font-family: proximanova_light;
}

a:focus {
  outline: none;
}

pre {
  white-space: normal;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.hide {
  display: none;
}

.title {
  min-width: 1000px;
  min-height: 259px;
  padding: 61px 0px 61px 0px;
}
.title__info {
  background: url("../image/title-info-1920.jpg") 50% no-repeat;
  background-size: cover;
}
.title_h1 {
  font-family: proximanova_bold;
  font-size: 38px;
  padding: 0px 0px 0px 33px;
  margin: 0px 0px 45px 0px;
  color: #ffffff;
  text-transform: uppercase;
  border-left: 5px solid #ffffff;
  line-height: 0.77;
  height: 26px;
}
.title_descr {
  color: #ffffff;
  font-size: 20px;
  width: 480px;
  padding: 0px 0px 0px 38px;
  line-height: 1.2;
}

.button {
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-family: proximanova_bold;
  color: #ffffff;
}
.button:visited {
  color: #ffffff;
}
.button:hover {
  color: #ffffff;
}
.button:active {
  color: #ffffff;
}
.button:focus {
  color: #ffffff;
}
.button__phone {
  background-color: #e74c3c;
  width: 167px;
  height: 33px;
  padding: 15px 0px 0px 47px;
  margin: 42px 0px 0px 36px;
  position: relative;
}
.button__phone:before {
  content: " ";
  display: block;
  position: absolute;
  left: 19px;
  top: 16px;
  width: 15px;
  height: 15px;
  background: url("../image/phone.png") -25px 0px no-repeat;
}
.button__phone:hover:before {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 300ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 300ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 300ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 300ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  50% {
    transform: rotate(30deg);
  }
}
@-moz-keyframes spin {
  50% {
    transform: rotate(30deg);
  }
}
@-webkit-keyframes spin {
  50% {
    transform: rotate(30deg);
  }
}
@keyframes spin {
  50% {
    transform: rotate(30deg);
  }
}
.header {
  position: relative;
}
.header_bottom {
  display: inline-table;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
}
.header_bottom:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}
* html .header_bottom {
  height: 1%;
}
.header_section {
  float: left;
}

.container {
  width: 960px;
  min-width: 960px;
  padding: 0px 20px 0px 20px;
  margin: 0 auto;
  *width: 965px;
}

.topmenu {
  background-color: #19254b;
  min-width: 1000px;
}
.topmenu_wrap {
  background-color: #19254b;
  border-top: 6px solid #fff;
  padding: 0px;
  position: absolute;
  z-index: 1;
  top: 55px;
  left: 0px;
  width: 100%;
  min-width: 1000px;
  max-height: 0px;
  visibility: hidden;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  visibility: visible;
  display: none;
}
.topmenu_list {
  display: table;
  width: 100%;
}
.topmenu_list__l2 {
  width: 1000px;
  margin: 0 auto;
}
.topmenu_item {
  vertical-align: top;
  width: 1%;
  white-space: nowrap;
  display: table-cell;
  *width: auto;
  *display: inline;
  *zoom: 1;
}
.topmenu_item__l2 {
  float: left;
  width: 26%;
  width: 25%;
}
.topmenu_item__l2:nth-child(4n) {
  width: 22%;
}
.topmenu_item:hover .topmenu_wrap {
  visibility: visible;
  max-height: 200px;
  padding: 27px 0px 45px 0px;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  display: block;
}
.topmenu_item:hover .topmenu_link {
  border-top: 3px solid #3498db;
}
.topmenu_item:hover .topmenu_link:before, .topmenu_item:hover .before {
  visibility: visible;
}
.topmenu_link {
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #fefefe;
  display: block;
  height: 36px;
  text-align: center;
  text-decoration: none;
  padding: 16px 12px 0px 12px;
  border-top: 3px solid #19254b;
  position: relative;
  z-index: 2;
  *zoom: expression( this.runtimeStyle.zoom="1", this.appendChild( document.createElement("small") ).className="before" );
}
.topmenu_link:visited {
  color: #fefefe;
}
.topmenu_link:hover {
  color: #fefefe;
}
.topmenu_link:active {
  color: #fefefe;
}
.topmenu_link:focus {
  color: #fefefe;
}
.topmenu_link__active {
  border-top: 3px solid #3498db;
}
.topmenu_link__l2 {
  font-family: proximanova_light;
  font-size: 18px;
  line-height: 1.7;
  color: #ffffff;
  text-decoration: none;
}
.topmenu_link__l2:visited {
  color: #ffffff;
}
.topmenu_link__l2:hover {
  color: #ffffff;
}
.topmenu_link__l2:active {
  color: #ffffff;
}
.topmenu_link__l2:focus {
  color: #ffffff;
}
.topmenu_link__l2:hover {
  text-decoration: underline;
}
.topmenu_link:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 2;
  left: 40%;
  bottom: -17px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 12.5px 0 12.5px;
  border-color: #ffffff transparent transparent transparent;
  visibility: hidden;
}
.topmenu_link:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 2;
  border: none;
  left: 40%;
  bottom: -17px;
  width: 25px;
  height: 11px;
  background: url("../image/triangle.png") no-repeat;
  visibility: hidden;
}
.topmenu_link .before {
  display: block;
  position: absolute;
  z-index: 23;
  border: none;
  left: 40%;
  bottom: -17px;
  width: 25px;
  height: 11px;
  background: url("../image/triangle.png") no-repeat;
  visibility: hidden;
}

.logo {
  margin: 33px 50px 37px 0px;
}
.logo__footer {
  margin: 33px 65px 0px 0px;
}
.logo_link {
  display: block;
  margin: 0px 0px 4px 0px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 221px;
  height: 70px;
  background: url("../image/logo.png") no-repeat;
}
.logo_link__footer {
  background: url("../image/logo-f.png") no-repeat;
}
.logo_text {
  color: #373737;
  font-size: 13px;
}

.address {
  display: inline-table;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
  margin: 36px 0px 0px 0px;
}
.address:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}
* html .address {
  height: 1%;
}
.address p {
  color: #373737;
  font-size: 18px;
}
.address__footer p {
  color: #ffffff;
  font-size: 16px;
  margin: 0px 0px 5px 0px;
}
.address span {
  letter-spacing: 1.5px;
}
.address_left {
  float: left;
  padding: 0px 16px 0px 21px;
  margin: 0px 12px 0px 0px;
  position: relative;
  border-right: 3px solid #122333;
}
.address_left:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0px;
  top: 2px;
  width: 13px;
  height: 15px;
  background: url("../image/phone.png") no-repeat;
}
.address_left__footer {
  padding: 0px 32px 0px 21px;
  margin: 0px 31px 0px 0px;
  border-right: 3px solid #ffffff;
}
.address_left__footer:before {
  background-position: -40px 0px;
  top: 1px;
}
.address_right {
  float: left;
  padding: 0px 0px 0px 17px;
  position: relative;
}
.address_right:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0px;
  top: 3px;
  width: 13px;
  height: 15px;
  background: url("../image/phone.png") -13px 0px no-repeat;
}
.address_right__footer {
  padding: 0px 0px 0px 21px;
}
.address_right__footer:before {
  background-position: -26px 0px;
  top: 0px;
}

.footer {
  background-color: #373737;
  min-width: 1000px;
}
.footer_wrap {
  display: inline-table;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
}
.footer_wrap:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}
* html .footer_wrap {
  height: 1%;
}
.footer_section {
  float: left;
}
.footer_copyright {
  color: #ffffff;
  font-size: 12px;
  margin: 34px 0px 24px 0px;
  float: left;
}

.gmap {
  background-color: #ffffff;
  height: 469px;
  /*&_info{
    width: 280px;
    height: 170px;
  }*/
}
.gmap_title {
  text-transform: uppercase;
  font-size: 30px;
  border-left: 3px solid #ffffff;
  padding-left: 19px;
  margin: 30px 0px 0px 35px;
  color: #ffffff;
}
.gmap_text {
  margin: 27px 0px 0px 58px;
}
.gmap_text p {
  margin-bottom: 7px;
  font-size: 18px;
  color: #ffffff;
}

.yamap {
  height: 469px;
  width: 100%;
}

.social {
  display: inline-table;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
  margin: 40px 0px 0px 64px;
  width: 174px;
}
.social:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}
* html .social {
  height: 1%;
}
.social_link {
  display: block;
  float: left;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 39px;
  height: 39px;
  background: url("../image/social.png") 39px 0px no-repeat;
  margin: 0px 0px 0px 6px;
}
.social_link:first-child {
  margin: 0px;
}
.social_link__vk {
  background-position: 0px 0px;
}
.social_link__vk:hover {
  background-position: 0px -39px;
}
.social_link__fb {
  background-position: -39px 0px;
}
.social_link__fb:hover {
  background-position: -39px -39px;
}
.social_link__tt {
  background-position: -78px 0px;
}
.social_link__tt:hover {
  background-position: -78px -39px;
}
.social_link__ok {
  background-position: -117px 0px;
}
.social_link__ok:hover {
  background-position: -117px -39px;
}

.dev {
  display: block;
  margin: 21px 6px 0px 0px;
  width: 108px;
  height: 23px;
  float: right;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url("../image/dev.png") no-repeat;
}

/*# sourceMappingURL=all-old-ie.css.map */
