/*&:before{
  background: url("../image/sub.png") 0px 0px no-repeat;
  content: "";
  display: inline-block;
  width: 20px;
  height: 12px;
  position: absolute;
  left: -1px;
  top: 2px;
}
@include old-ie{
  *zoom: expression(
    this.runtimeStyle.zoom="1",
    this.appendChild( document.createElement("small") ).className="before"
  );
  .before{
    background: url("../image/sub.png") 0px 0px no-repeat;
    width: 20px;
    height: 12px;      
    position: absolute;
    left: -1px;
    top: 2px; 
  }
}*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'proximanova';
  src: url("fonts/proximanova-reg.eot");
  src: url("fonts/proximanova-reg.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-reg.woff2") format("woff2"), url("fonts/proximanova-reg.woff") format("woff"), url("fonts/proximanova-reg.ttf") format("truetype"), url("fonts/proximanova-reg.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanova_bold';
  src: url("fonts/proximanova-bold.eot");
  src: url("fonts/proximanova-bold.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-bold.woff2") format("woff2"), url("fonts/proximanova-bold.woff") format("woff"), url("fonts/proximanova-bold.ttf") format("truetype"), url("fonts/proximanova-bold.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanova_light';
  src: url("fonts/proximanova-light.eot");
  src: url("fonts/proximanova-light.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-light.woff2") format("woff2"), url("fonts/proximanova-light.woff") format("woff"), url("fonts/proximanova-light.ttf") format("truetype"), url("fonts/proximanova-light.svg#proxima_nova_ltlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanova_italic';
  src: url("fonts/proximanova-regit.eot");
  src: url("fonts/proximanova-regit.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-regit.woff2") format("woff2"), url("fonts/proximanova-regit.woff") format("woff"), url("fonts/proximanova-regit.ttf") format("truetype"), url("fonts/proximanova-regit.svg#proxima_novaregular_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: proximanova;
  font-size: 18px;
}

strong, b {
  font-family: proximanova_bold;
}

i {
  font-family: proximanova_italic;
}

.light {
  font-family: proximanova_light;
}

a:focus {
  outline: none;
}

pre {
  white-space: normal;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.hide {
  display: none;
}

.header {
  position: relative;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.topmenu {
  background-color: #19254b;
}
.topmenu_wrap {
  background-color: #19254b;
  border-top: 6px solid #fff;
  padding: 27px 0px 45px 0px;
  position: absolute;
  z-index: 1;
  top: 55px;
  left: 0px;
  width: 100%;
  visibility: hidden;
  max-height: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.topmenu_list {
  display: table;
  width: 100%;
}
.topmenu_list__l2 {
  width: 1000px;
  margin: 0 auto;
}
.topmenu_item {
  vertical-align: top;
  width: 1%;
  white-space: nowrap;
  display: table-cell;
  *width: auto;
  *display: inline;
  *zoom: 1;
}
.topmenu_item__l2 {
  float: left;
  width: 26%;
  width: 25%;
}
.topmenu_item__l2:nth-child(4n) {
  width: 22%;
}
.topmenu_item:hover .topmenu_wrap {
  visibility: visible;
  max-height: 200px;
}
.topmenu_item:hover .topmenu_link:before, .topmenu_item:hover .before {
  visibility: visible;
}
.topmenu_link {
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #fefefe;
  display: block;
  height: 36px;
  text-align: center;
  text-decoration: none;
  padding: 16px 12px 0px 12px;
  border-top: 3px solid #19254b;
  -webkit-transition: border-color 0.2s ease-in-out;
  -moz-transition: border-color 0.2s ease-in-out;
  -o-transition: border-color 0.2s ease-in-out;
  -ms-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  position: relative;
  z-index: 2;
  *zoom: expression( this.runtimeStyle.zoom="1", this.appendChild( document.createElement("small") ).className="before" );
}
.topmenu_link:visited {
  color: #fefefe;
}
.topmenu_link:hover {
  color: #fefefe;
}
.topmenu_link:active {
  color: #fefefe;
}
.topmenu_link:focus {
  color: #fefefe;
}
.topmenu_link__active {
  border-top: 3px solid #3498db;
}
.topmenu_link__l2 {
  font-family: proximanova_light;
  font-size: 18px;
  line-height: 1.7;
  color: #ffffff;
  text-decoration: none;
}
.topmenu_link__l2:visited {
  color: #ffffff;
}
.topmenu_link__l2:hover {
  color: #ffffff;
}
.topmenu_link__l2:active {
  color: #ffffff;
}
.topmenu_link__l2:focus {
  color: #ffffff;
}
.topmenu_link__l2:hover {
  text-decoration: underline;
}
.topmenu_link:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 2;
  left: 40%;
  bottom: -17px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 12.5px 0 12.5px;
  border-color: #ffffff transparent transparent transparent;
  visibility: hidden;
}
.topmenu_link:hover {
  border-top: 3px solid #3498db;
}
.topmenu_link:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 2;
  border: none;
  left: 40%;
  bottom: -17px;
  width: 25px;
  height: 11px;
  background: url("../image/triangle.png") no-repeat;
  visibility: hidden;
}
.topmenu_link .before {
  display: block;
  position: absolute;
  z-index: 23;
  border: none;
  left: 40%;
  bottom: -17px;
  width: 25px;
  height: 11px;
  background: url("../image/triangle.png") no-repeat;
  visibility: hidden;
}

/*# sourceMappingURL=all-old-ie.css.map */
