.address{
	@include clearfix();
	margin: 36px 0px 0px 0px;
  @include m1000{
    margin: 0;
  }
	p{
		color: #373737;
		font-size: $font_size18;
	}
  &__footer{
    p{
      color: #ffffff;
      font-size: $font_size16;
      margin: 0px 0px 5px 0px;
    }
  }
	span{
		letter-spacing: 1.5px;
	}
	&_left{
		float: left;
		padding: 0px 16px 0px 21px;
		margin: 0px 12px 0px 0px;
		position: relative;
		border-right: 3px solid #122333;
		&:before{
			content: " ";
      display: block;
      position: absolute;
      left: 0px;
      top: 2px;
      width: 13px;
      height: 15px;
      background: url('../image/phone.png') no-repeat;
		}
    &__footer{
      padding: 0px 32px 0px 21px;
      margin: 0px 31px 0px 0px;
      border-right: 3px solid #ffffff;
      &:before{
        background-position: -40px 0px;
        top: 1px;
      }
    }
    @include m1000{
      float: none;
      max-width: 210px;
      margin: 0 auto;
      padding: 0 0 5px 0;
      border: none;
      border-bottom: 1px solid #122333;
      text-align: center;
      &:before{
        //left: 21px;
      }
    }
	}
	&_right{
		float: left;
		padding: 0px 0px 0px 17px;
		position: relative;
		&:before{
			content: " ";
      display: block;
      position: absolute;
      left: 0px;
      top: 3px;
      width: 13px;
      height: 15px;
      background: url('../image/phone.png') -13px 0px no-repeat;
		}
    &:after{
      content: " ";
      display: block;
      position: absolute;
      left: -1px;
      bottom: 3px;
      width: 15px;
      height: 11px;
      background: url('../image/mail.png') no-repeat;
    }
    &__footer{
      padding: 0px 0px 0px 21px;
      &:before{
        background-position: -26px 0px;
        top: 0px;
      }
      &:after{
        display: none;
      }
    }
    @include m1000{
      float: none;
      max-width: 210px;
      margin: 0 auto;
      padding: 5px 0 0 0;
      border: none;
      text-align: center;
      &:before{
       top: 8px;
      }
    }
	}
}