.app{
  position: absolute;
  z-index: 5;
  top: 470px;
  left: 0px;
  font-family: $cond;
  font-size: 14px;
  text-transform: uppercase;
  &__fixed{
    position: fixed;
    top: 0px;
    left: 0px;
  }
  &_item{
    display: block;
    @include clearfix();
    text-decoration: none;
    margin: 0px 0px 19px 0px;
    position: relative;
    width: 215px;
    &:before{
      content: " ";
      display: block;
      position: absolute;
      right: 16px;
      top: 17px;
      width: 13px;
      height: 14px;
      background: url('../image/arrow-app.png') no-repeat;
    }
    @include def-transition(width, 0.2s);
    &:hover{
      width: 235px;
    }
  }
  &_left{
    width: 61px;
    float: left;
    background-color: #3498db;
    span{
      color: #ffffff;
      height: 50px;
      display: table-cell;
      vertical-align: middle;
      padding: 0px 0px 0px 8px;
      position: relative;
      &:before{
        content: " ";
        display: block;
        position: absolute;
        left: 8px;
        top: 13px;
        width: 20px;
        height: 2px;
        background-color: #ffffff;
      }
    }
  }
  &_right{
    background-color: #19254b;
    //width: 215px;
    span{
      line-height: 1.1;
      color: #ffffff;
      height: 50px;
      display: table-cell;
      vertical-align: middle;
      padding: 0px 0px 0px 19px;
    }
  }
  @include m1000{
    display: none;
  }
}