.arrow-bb{
  width: 18px;
  height: 18px;
  margin: 13px auto 51px auto;
  background: url(../image/arrow-bb.png) no-repeat;
  display: block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: -29px auto 51px;
  position: relative;
  @include m1000{
  	margin: 13px auto 20px auto;
  }
}