.button{
	display: block;
	//text-align: center;
	text-decoration: none;
	font-size: $font_size18;
	font-family: $bold;
	@include link(#ffffff, #ffffff);
	//text-indent: 100%;
	//white-space: nowrap;
	//overflow: hidden;
	&__phone{
		background-color: #e74c3c;
		width: 167px;
		height: 33px;
		padding: 15px 0px 0px 47px;
		margin: 42px 0px 0px 36px;
		position: relative;
		&:before{
			content: " ";
      display: block;
      position: absolute;
      left: 19px;
      top: 16px;
      width: 15px;
      height: 15px;
      background: url('../image/phone.png') -25px 0px no-repeat;
		}
		&:hover{
			&:before{
				-webkit-animation-name: spin;
	      -webkit-animation-duration: 300ms;
	      -webkit-animation-iteration-count: infinite;
	      -webkit-animation-timing-function: linear;
	      -moz-animation-name: spin;
	      -moz-animation-duration: 300ms;
	      -moz-animation-iteration-count: infinite;
	      -moz-animation-timing-function: linear;
	      -ms-animation-name: spin;
	      -ms-animation-duration: 300ms;
	      -ms-animation-iteration-count: infinite;
	      -ms-animation-timing-function: linear;
	      animation-name: spin;
	      animation-duration: 300ms;
	      animation-iteration-count: infinite;
	      animation-timing-function: linear;
			}
		}
	}
}
@-ms-keyframes spin {
  50% {
    transform:rotate(30deg);
  }
}
@-moz-keyframes spin {
  50% {
    transform:rotate(30deg);
  }
}
@-webkit-keyframes spin {
  50% {
    transform:rotate(30deg);
  }
}
@keyframes spin {
  50% {
    transform:rotate(30deg);
  }
}