.button{
	display: block;
	text-decoration: none;
	font-size: 18;
	font-family: $bold;
	@include link(#ffffff, #ffffff);
	&__calcinfo{
		font-family: $font;
    font-size: 16px;
    float: right;
    width: 181px;
    height: 33px;
    padding: 15px 0px 0px 33px;
    background-color: #3498db;
    position: relative;
    &:before{
      content: " ";
      display: block;
      position: absolute;
      left: 6px;
      top: 12px;
      width: 23px;
      height: 23px;
      background: url('../image/calc-buttons.png') -23px 0px no-repeat;
    }
  }
  &__calcorder{
    float: right;
    width: 158px;
    height: 33px;
    padding: 15px 0px 0px 56px;
    background-color: #e74c3c;
    margin: 0px 0px 0px 34px;
    position: relative;
    &:before{
      content: " ";
      display: block;
      position: absolute;
      left: 23px;
      top: 11px;
      width: 23px;
      height: 23px;
      background: url('../image/calc-buttons.png') -46px 0px no-repeat;
    }
  }
	&__phone{
		background-color: #e74c3c;
		width: 167px;
		height: 33px;
		padding: 15px 0px 0px 47px;
		margin: 42px 0px 0px 36px;
		position: relative;
		&:before{
			content: " ";
      display: block;
      position: absolute;
      left: 19px;
      top: 16px;
      width: 15px;
      height: 15px;
      background: url('../image/phone.png') -25px 0px no-repeat;
		}
		&:hover{
			&:before{
				-webkit-animation-name: spin;
	      -webkit-animation-duration: 300ms;
	      -webkit-animation-iteration-count: infinite;
	      -webkit-animation-timing-function: linear;
	      -moz-animation-name: spin;
	      -moz-animation-duration: 300ms;
	      -moz-animation-iteration-count: infinite;
	      -moz-animation-timing-function: linear;
	      -ms-animation-name: spin;
	      -ms-animation-duration: 300ms;
	      -ms-animation-iteration-count: infinite;
	      -ms-animation-timing-function: linear;
	      animation-name: spin;
	      animation-duration: 300ms;
	      animation-iteration-count: infinite;
	      animation-timing-function: linear;
			}
		}
	}
}
@-ms-keyframes spin {
  50% {
    transform:rotate(30deg);
  }
}
@-moz-keyframes spin {
  50% {
    transform:rotate(30deg);
  }
}
@-webkit-keyframes spin {
  50% {
    transform:rotate(30deg);
  }
}
@keyframes spin {
  50% {
    transform:rotate(30deg);
  }
}