.form-popup{
  .messages{
    display: none;
  }
  &_wrap{
    &__question{
      width: 284px;
    }
    &__buh{
      width: 320px;
    }
    &__callback{
      width: 284px;
    }
    &__bonus{
      width: 502px;
      .form-popup_title{
        margin: 0px 0px 29px 0px;
      }
      .form-popup_button {
        padding: 5px 0 0;
      }
    }
    &__info{
      width: 416px;
      padding: 0px 0px 23px 0px;
    }
    &__tarif{
      width: 284px;
    }
  }
  &_title{
    font-family: $bold;
    text-align: center;
    color: #19254b;
    font-size: 16px;
    text-transform: uppercase;
    padding: 36px 0px 20px 0px;
    margin: 0px 0px 25px 0px;
    position: relative;
    &:before{
      content: " ";
      display: block;
      position: absolute;
      left: 50%;
      margin: 0px 0px 0px -17px;
      bottom: 0px;
      width: 35px;
      height: 3px;
      background-color: #19254b;
    }
  }
  &_confirmation{
    padding: 0px 22px 0px 22px;
    p{
      text-align: center;
    }
  }
  &_inner{
    padding: 0px 0px 17px 0px;
    text-align: center;
    input{
      font-size: 16px;
      width: 199px;
      height: 44px;
      border: 1px solid #c2c2c2;
      margin: 0px;
      padding: 0px 22px 0px 22px;
    }
    .error{
        border: 1px solid #ff0000;
      }
    textarea{
      box-sizing: content-box;
      display: inline;
      font-size: 16px;
      width: 199px;
      height: 77px;
      border: 1px solid #c2c2c2;
      margin: 0px;
      padding: 11px 22px 0px 22px;
    }
  }
  &_button{
    padding: 9px 0px 0px 0px;
    text-align: center;
    position: relative;
    width: 245px;
    margin: 0 auto;
    input{
      width: 245px;
      height: 56px;
      border: none;
      background-color: #e74c3c;
      font-family: $bold;
      color: #ffffff;
      font-size: 20px;
      text-transform: uppercase;
      padding: 1px 0px 0px 0px;
      &:hover{
        cursor: pointer;
      }
      @include def-v-gradient(#e74c3c, #e74c3c);
    }
    .ajax-progress{
      position: absolute;
      //top: 10px;
      //left: -6px;
      top: 29px;
      right: 5px;
      .throbber {
        background: transparent url('../image/loader-ajax-red.gif') no-repeat 0px 0px; /* tweak this according to your gif */
        float: left;
        height: 16px; /* tweak this according to your gif */
        width: 16px; /* tweak this according to your gif */
        margin: 0px;
      }
    }
  }
  &_descr{
    p{
      font-family: $light;
      color: #666666;
      font-size: 14px;
      text-align: center;
      padding: 15px 20px 30px 20px;
      line-height: 1.2;
    }
  }
  &_info{
    padding: 0px 26px 0px 26px;
    margin: 0px 0px 12px 0px;
    font-size: 16px;
    color: #373737;
  }
  &_checkbox{
    padding: 0px 60px 0px 60px;
    margin: 0px 0px 32px 0px;
  }
  input[type="checkbox"] {
    display:none;            
  }
  input[type="checkbox"] + label {
    font-size: 16px;
    color: #373737;
    cursor: pointer;
    position: relative;
  }
  input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    height: 19px;
    width: 24px;
    position: absolute;
    top: 0px;
    left: -35px;
    background: url('../image/calc-form-check.png') no-repeat;
  }
  /*input[type="checkbox"]:checked + label {
    border-color: #3498db;
  }*/
  input[type="checkbox"]:checked + label::before {
    background-position: -24px 0px;
  }
}
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{
  background:#000; 
  @include def-opacity(0.8);
}

#colorbox{outline:0;}
    #cboxContent{
      margin-top:20px;
      background:transparent;
      //@include def-opacity(0.8);
    }
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{
          border:2px solid #19254b; 
          background:#fff;
          margin: 18px;
        }
        #cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
        #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
        #cboxLoadingGraphic{background:url(../image/temp/loading.gif) no-repeat center center;}

        // these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles 
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        // avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) 
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
        
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(../image/temp/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:bottom left;}
        #cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(../image/temp/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px;}
        #cboxNext:hover{background-position:bottom right;}
        #cboxClose{
          position:absolute; 
          top:0px; 
          right:0px; 
          display:block; 
          background:url(../image/close.png) no-repeat top center; 
          width:36px; 
          height:36px; 
          text-indent:-9999px;
        }
        #cboxClose:hover{background-position:bottom center;}




/*#cboxOverlay{background:#000; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
    #cboxContent{margin-top:20px;background:#000;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{border:5px solid #000; background:#fff;}
        #cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
        #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}

        // these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles 
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        // avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating)
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
        
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(images/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:bottom left;}
        #cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(images/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px;}
        #cboxNext:hover{background-position:bottom right;}
        #cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(images/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px;}
        #cboxClose:hover{background-position:bottom center;}*/