.form-discount{
  &, & *{
    box-sizing: border-box;
  }
  .messages{
    display: none;
  }
  
  position: absolute;
  top: 0px;
  right: 53px;
  z-index: 2;
  overflow: hidden;
  padding: 0 0 0 50px;
  &_shadow{
    -webkit-box-shadow: -10px 0px 15px 0px rgba(0,41,66,1);
    -moz-box-shadow: -10px 0px 15px 0px rgba(0,41,66,1);
    box-shadow: -10px 0px 15px 0px rgba(0,41,66,1);
    background: transparent url('../image/form-discount-bac.jpg') 50% top no-repeat;
    background-size: cover;
    
    width: 300px;
    height: 400px;
  }
  &_wrap{
    position: relative;
    z-index: 2;
    padding: 0px 23px 0px 46px;
  }
  &_transp{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    @include def-opacity(0.8);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
  }
  &_head{
    font-family: SegoeUIBold;
    color: #fff1f1;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    height: 67px;
    padding: 10px 0 0;
  }
  &_title{
    font-family: SegoeUIRegular;
    color: #fff1f1;
    text-align: center;
    position: relative;
    left: -8px;
    padding: 0 0 16px;
    p{
      color: #fff1f1;
    }
  }
  &_confirmation{
    padding: 0;
    text-align: center;
  }
  &_inner{
    padding: 0px 0px 21px;
    width: 231px;
    margin: 0 auto;
    input{
      width: 100%;
      font-size: 16px;
      height: 46px;
      border: none;
      margin: 0px;
      padding: 0px 16px 0px 16px;
    } 
    .error{
      -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255,0,0,1);
      -moz-box-shadow: inset 0px 0px 0px 1px rgba(255,0,0,1);
      box-shadow: inset 0px 0px 0px 1px rgba(255,0,0,1);
    }
  }
  &_button{
    padding: 9px 0px 0px 0px;
    position: relative;
    z-index: 5;
    width: 231px;
    margin: 0 auto;
    input{
      width: 100%;
      height: 47px;
      border: none;
      //background-color: #e74c3c;
      //border: 1px solid #3498db;
      font-family: SegoeUIBold;
      color: #ffffff;
      font-size: 20px;
      text-transform: uppercase;
      padding: 0 0 2px;
      background: #e74d3c;
      background: -moz-linear-gradient(top, #e74d3c 0%, #d8321f 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, #e74d3c), color-stop(100%, #d8321f));
      background: -webkit-linear-gradient(top, #e74d3c 0%, #d8321f 100%);
      background: -o-linear-gradient(top, #e74d3c 0%, #d8321f 100%);
      background: -ms-linear-gradient(top, #e74d3c 0%, #d8321f 100%);
      background: linear-gradient(to bottom, #e74d3c 0%, #d8321f 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e74d3c', endColorstr='#d8321f', GradientType=0 );
      @include def-transition(box-shadow, 0.2s);
      &:hover{
        cursor: pointer;
        //border: 1px solid #19254B;
        //background-color: #E74C3C;
        //@include def-v-gradient(#E74C3C, #E74C3C);
        -webkit-box-shadow: 5px 5px 5px 0px rgba(231,77,60,.5);
        -moz-box-shadow: 5px 5px 5px 0px rgba(231,77,60,.5);
        box-shadow: 5px 5px 5px 0px rgba(231,77,60,.5);
      }
      //@include def-v-gradient(#3498db, #3498db);
    }
    .ajax-progress{
      position: absolute;
      //top: 10px;
      //left: -6px;
      top: 25px;
      right: -20px;
      .throbber {
        background: transparent url('../image/loader-ajax-blue.gif') no-repeat 0px 0px; /* tweak this according to your gif */
        float: left;
        height: 16px; /* tweak this according to your gif */
        width: 16px; /* tweak this according to your gif */
        margin: 0px;
      }
    }
  }
  &_descr{
    color: #ffffff;
    font-size: 11px;
    padding: 17px 0px 0px 0px;
    line-height: 14px;
    font-family: SegoeUIRegular;
    text-align: center;
    p{
      color: #ffffff;
      font-size: 11px;
      line-height: 14px;
      font-family: SegoeUIRegular;
    }  
  }
  &_confirmation{
    p{
      padding: 80px 0px 0px 0px;
      line-height: 1.2;
      color: #fff1f1;
      font-size: 18px;
    }
  }
  @include m1000{
    display: none;
  }
  ::-webkit-input-placeholder {
    font-family: SegoeUIRegular;
    color: #717171;
    font-size: 12px;
  }
  :-moz-placeholder {
    font-family: SegoeUIRegular;
    color: #717171;
    font-size: 12px;
  }
  ::-moz-placeholder {
    font-family: SegoeUIRegular;
    color: #717171;
    font-size: 12px;
  }
  :-ms-input-placeholder {
    font-family: SegoeUIRegular;
    color: #717171;
    font-size: 12px;
  }
  ::-ms-input-placeholder {
    font-family: SegoeUIRegular;
    color: #717171;
    font-size: 12px;
  }
  :placeholder-shown {
    font-family: SegoeUIRegular;
    color: #717171;
    font-size: 12px;
  }
}