.logo{
	margin: 30px 50px 33px 0px;
	@include m1000{
    margin: 0;
    text-align: center;
    padding-top: 15px;
  }
	&__footer{
		margin: 33px 65px 0px 0px;
		@include m1000{
	    margin: 0;
	    text-align: center;
	    padding-top: 15px;
	  }
	}
	&_link{
		display: block;
		margin: 0px 0px 4px 0px;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		width: 221px;
		height: 70px;
		background: url('../image/logo.png') no-repeat;
		&__footer{
			background: url('../image/logo-f.png') no-repeat;
		}
		@include m1000{
    	margin: 0 auto;
    	width: 100%;
    	background-size: contain;
    	background-position: 50%;
    	max-width: 260px;
 	 	}
	}
	&_text{
		color: #373737;
		font-size: $font_size13;
		@include m1000{
	    position: relative;
	    top: -15px;
	  }
	}
}