.main8{
	height: 170px;
	padding: 2px 0px 0px 0px;
	&_head{
    font-size: 30px;
    color: #373737;
    text-transform: uppercase;
    border-left: 3px solid #373737;
    height: 20px;
    line-height: 0.74;
    padding: 0px 0px 0px 15px;
    margin: 0px 0px 58px 0px;
  }
}