.main6{
	min-height: 319px;
	padding: 41px 0px 0px 0px;
	overflow: hidden;
  &__review{
    height: auto;
  }
	&_head{
    font-size: 30px;
    color: #373737;
    text-transform: uppercase;
    border-left: 3px solid #373737;
    height: 20px;
    line-height: 0.74;
    padding: 0px 0px 0px 15px;
    margin: 0px 0px 58px 0px;
  }
  &_item{
  	
  }
  &_text{
  	padding: 0px 0px 0px 87px;
  	margin: 0px 0px 23px 0px;
  	font-family: $light;
  	color: #373737;
  	font-size: 16px;
  	position: relative;
  	line-height: 1.1;
  	&:before{
  		content: " ";
      display: block;
      position: absolute;
      left: 0px;
      top: 1px;
      width: 41px;
      height: 35px;
      background: url('../image/quote.png') no-repeat;
  	}
  }
  &_info{
  	@include clearfix();
  	padding: 0px 0px 0px 87px;
  }
  &_link{
  	display: block;
  	padding: 0px 16px 0px 0px;
  	float: right;
  	font-family: $italic;
  	font-size: 14px;
  	@include link(#373737, #373737);
  	position: relative;
  	&:before{
  		content: " ";
      display: block;
      position: absolute;
      right: 0px;
      top: 1px;
      width: 13px;
      height: 14px;
      background: url('../image/arrow-link.png') no-repeat;
  	}
  }
  &_author{
  	color: #373737;
  	font-size: 16px;
  	span{
  		font-family: $bold;
  		text-transform: uppercase;
  	}
  }
  /*bxslider*******************************/
  .bx-wrapper {
    position: relative;
    margin: 0 auto 40px;
    padding: 0;
    *zoom: 1;
  }

  .bx-wrapper img {
    max-width: 100%;
    display: block;
  }
  .bx-wrapper .bx-loading {
    min-height: 50px;
    background: url('../image/bx_loader.gif') center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
  }
  /* PAGER */
  .bx-wrapper .bx-pager {
    text-align: center;
    padding-top: 55px;
  }
  .bx-wrapper .bx-pager .bx-pager-item,
  .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
  }
  .bx-wrapper .bx-pager.bx-default-pager a {
    text-indent: -9999px;
    display: block;
    width: 19px;
    height: 19px;
    margin: 0 3px;
    outline: 0;
    background: url('../image/pager.png') 0px 0px no-repeat;
  }
  .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .bx-wrapper .bx-pager.bx-default-pager a.active {
    background-position: -19px 0px;
  }
  @include m1000{
    display: none;
  }
}