.main3{
  min-height: 192px;
  background: url('../image/action-1920.jpg') 50% 50% no-repeat;
  background-size: cover;
  padding: 38px 0px 0px 0px;
  &_wrap{
    @include clearfix();
  }
  &_item{
    width: 50%;
    float: left;
  }
}