.main5{
	height: 912px;
	background: url('../image/main5-1920.jpg') 50% 50% no-repeat;
	background-size: cover;
  /*@include def-opacity(0);
  @include def-transition(opacity, 0.2s);
  &.bg-loaded{
    @include def-opacity(1);
  }*/
	&_head{
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    border-left: 3px solid #ffffff;
    height: 20px;
    line-height: 0.74;
    padding: 0px 0px 0px 15px;
    margin: 0px 0px 58px 0px;
  }
  &_wrap{
  	padding: 41px 0px 0px 0px;
  	position: relative;
  	height: 100%;
  }
  &_item{
  	position: absolute;
		width: 230px;
		&__1{
			top: 104px;
			left: 303px;
		}
		&__2{
			top: 490px;
			left: 120px;
		}
		&__3{
			top: 295px;
			left: 550px;
		}
		&__4{
			top: 555px;
			left: 592px;
		}
		&__5{
			top: 652px;
			left: 341px;
			width: 355px;
		}
  }
  &_lines{
  	width: 281px;
  	height: 311px;
  	position: absolute;
  	top: 324px;
		left: 342px;
		background: url('../image/main5-lines.png') no-repeat;
  }
  &_image{
  	width: 134px;
  	height: 134px;
  	margin: 0 0 15px 40px;
  	.main5_item__5 &{
  		margin: 0 0 15px 100px;
  	}
  }
  &_link{
  	font-size: 20px;
  	@include link(#ffffff, #ffffff);
  	display: block;
  	width: 100%;
  	text-align: center;
  	text-decoration: none;
  	line-height: 1.2;
  	&:hover{
  		text-decoration: underline;
  	}
  }
}
.tip-green {
  z-index:1000;
  text-align:left;
  border:1px solid #19254b;
  padding:7px 10px;
  min-width:50px;
  max-width:300px;
  color:#860404;
  background-color:#ffffff;
  min-height: 100px;
  /**
   * - If you set a background-image, border/padding/background-color will be ingnored.
   *   You can set any padding to .tip-inner instead if you need.
   * - If you want a tiled background-image and border/padding for the tip,
   *   set the background-image to .tip-inner instead.
   */
}
.tip-green .tip-inner {
  font-family: $font;
  font-size: 16px;
  color: #373737;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-green .tip-arrow-top {
  margin-top:-10px;
  margin-left:6px;
  top:0;
  left:0;
  width:22px;
  height:32px;
  background:url('../image/tooltip.png') no-repeat;
}
.tip-green .tip-arrow-right {
  margin-top:6px;
  margin-left:0;
  top:0;
  left:100%;
  width:22px;
  height:32px;
  background:url('../image/tooltip.png') no-repeat;
}
.tip-green .tip-arrow-bottom {
  margin-top:0;
  margin-left:6px;
  top:100%;
  left:0;
  width:22px;
  height:32px;
  background:url('../image/tooltip.png') no-repeat;
}
.tip-green .tip-arrow-left {
  margin-top:6px;
  margin-left:-10px;
  top:60px;
  left:-12px;
  width:22px;
  height:32px;
  background:url('../image/tooltip.png') no-repeat;
}