.menutop{
  background-color: #19254b;
  min-width: 1000px;
  &_inner{
  	//width: 960px;
  }
  &_wrap{
    background-color: #19254b;
    border-top: 6px solid #fff;
    padding: 0px;
    position: absolute;
    z-index: 5;
    top: 55px;
    left: 0px;
    width: 100%;
    min-width: 1000px;
    max-height: 0px;
    visibility: hidden;
    @include def-opacity(0.5);
    @include def-transition(all, 0.2s);
    @include old-ie{
      visibility: visible;
      display: none;
    }
  }
  &_list{
    display: table;
    width: 100%;
    &__l2{   
      width: 1000px;
      margin: 0 auto;    
    }
  }
  &_item{ 
    vertical-align: top; 
    width: 1%;
    white-space: nowrap;
    display: table-cell;  
    @include old-ie{
      *width: auto;
      *display: inline;
      *zoom: 1;
    }
    &__l2{
      float: left;
      width: 26%;
      &:nth-child(4n){
        width: 22%;
      }
      @include old-ie{
        width: 25%;
      }
    }
    &:hover{
      .menutop_wrap{
        visibility: visible;
        max-height: 200px;
        padding: 27px 0px 45px 0px;
        @include def-opacity(1);
        @include old-ie{
          display: block;
        }
      }
      .menutop_link{
      	border-top: 3px solid #3498db;
      }
      & .menutop_link:before, & .before{
        visibility: visible;
      }
    }
  }
  &_link{
    font-size: $font_size16;
    line-height: 1;
    text-transform: uppercase;
    @include link(#fefefe, #fefefe);
    display: block;
    height: 36px;
    text-align: center;
    text-decoration: none;
    padding: 16px 12px 0px 12px;
    border-top: 3px solid #19254b;
    //@include def-transition(border-color, 0.2s);
    &__active{
      border-top: 3px solid #3498db;
    }
    &__l2{
      font-family: $light;
      font-size: $font_size18;
      line-height: 1.7;
      @include link(#ffffff, #ffffff);
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
    position: relative;
    z-index: 3;
    &:before{
      content: " ";
      display: block;
      position: absolute;
      z-index: 3;
      left: 40%;
      bottom: -17px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 11px 12.5px 0 12.5px;
      border-color: #ffffff transparent transparent transparent;
      visibility: hidden;
    }
    @include old-ie{
      &:before{
        content: " ";
        display: block;
        position: absolute;
        z-index: 3;
        border: none;
        left: 40%;
        bottom: -17px;
        width: 25px;
        height: 11px;
        background: url('../image/triangle.png') no-repeat;
        visibility: hidden;
      }
      *zoom: expression(
        this.runtimeStyle.zoom="1",
        this.appendChild( document.createElement("small") ).className="before"
      );
      .before{
        display: block;
        position: absolute;
        z-index: 3;
        border: none;
        left: 40%;
        bottom: -17px;
        width: 25px;
        height: 11px;
        background: url('../image/triangle.png') no-repeat;
        visibility: hidden;
      }
    }
  }
}