.newactions{
	font-family: Tahoma;
	&, & *{
		box-sizing: border-box;
	}
	&_head{
		font-size: 26px;
		font-weight: bold;
		color: #e74c3c;
		text-transform: uppercase;
		text-align: right;
		margin-bottom: 17px;
		@include m1000{
			text-align: left;
			font-size: 22px;
			margin-bottom: 10px;
		}
	}
	&_inner{
		@include clearfix;
		@include m1000{
			margin-bottom: 15px;
		}
	}
	&_item{
		float: left;
		width: 31.25%;
		margin: 0 1.5625% 32px;
		@include link(#fff, #fff);
		text-decoration: none;
		-webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.29);
		-moz-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.29);
		box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.29);
		@include def-transition(box-shadow, 0.2s);
		&:nth-child(3n-2){
			margin-left: 0;
			@include m1000{
				margin: 0 auto 10px auto;
			}
		}
		&:nth-child(3n){
			margin-right: 0;
			@include m1000{
				margin: 0 auto 10px auto;
			}
		}
		&:hover{
			-webkit-box-shadow: -5px -5px 3px 0px rgba(0,0,0,0.3);
			-moz-box-shadow: -5px -5px 3px 0px rgba(0,0,0,0.3);
			box-shadow: -5px -5px 3px 0px rgba(0,0,0,0.3);
		}
		@include m1000{
			float: none;
			display: block;
			width: 100%;
			max-width: 300px;
			margin: 0 auto 10px auto;
		}
	}
	&_image{
		border: 1px solid #fff;
		overflow: hidden;
		img{
			display: block;
			@include m1000{
				width: 100%;
				height: auto;
			}
		}
	}
	&_descr{
		height: 105px;
		background: transparent url('../image/newactions-descr-bac.png') left top no-repeat;
		background-size: cover;
		font-size: 16px;
		line-height: 24px;
		color: #fff;
		font-weight: bold;
		text-align: center;
		padding: 30px 50px 0;
		@include m1000{
			height: auto;
			padding: 20px;
		}
	}
	&_bottom{
		background-color: #1a2541;
		padding: 9px 18px 13px;
	}
	&_date{
		font-size: 16px;
		color: #fff;
		font-weight: bold;
		margin-right: 12px;
	}
	&_red{
		font-size: 12px;
		color: #e74c3c;
		font-weight: bold;
		text-transform: uppercase;
		margin-right: 5px;
	}
	&_more{
		position: relative;
		top: -1px;
		font-family: sans;
		font-size: 12px;
		color: #fff;
		&:before{
			content: '';
			display: block;
			position: absolute;
			right: -26px;
			top: 0;
			width: 18px;
			height: 18px;
			background: transparent url('../image/newactions-more.png') left top no-repeat;
		}
	}
}