.price{
  @include clearfix();
  &_title{
    font-family: $bold;
    font-size: 18px;
    color: #373737;
    text-transform: uppercase;
    position: relative;
    margin: 0px 0px 31px 0px;
    &:before{
      content: " ";
      display: block;
      position: absolute;
      left: 1px;
      top: -17px;
      width: 40px;
      height: 3px;
      background-color: #3498db;
    }
  }
  &_descr{
    padding: 0px 0px 41px 0px;
  }
  &_table{
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      height: 100%;
      border: 2px solid white; /* Прячем рамку вокруг таблицы */
      margin: 0px;
      padding: 0px;
    }
    th { 
      text-align: center; /* Выравнивание по левому краю */
      vertical-align: middle;
      background-color: #606060;
      border: 1px solid #c8c8c8;
      text-align: center;
      padding: 31px;
      font-family: $bold;
      font-size: 20px;
      color: #f7f5f5;
    }
    td { 
      vertical-align: middle;
      background-color: #ededed;
      border: 1px solid #c8c8c8;
      text-align: center;
      padding: 11px 23px 11px 23px;
      min-width: 67px;
      font-family: $light;
      font-size: 16px;
      color: #606060;
      &:first-child{
        text-align: left;
      }
      &:nth-child(2n){
        font-family: $lightit;
        font-size: 14px;
      }
    }
    tr{
      &:hover td {
        background-color: #f9f9f9;
      }
    }
  }
  &_price{
    width: 179px;
  }
  &_link{
    margin: 35px 0px 0px 0px;
    padding: 16px 0px 0px 50px;
    display: block;
    float: right;
    width: 297px;
    height: 32px;
    background-color: #3498db;
    //background: url('../image/link-calc.png') 19px 15px no-repeat #3498db;
    //background-color: #3498db;
    text-decoration: none;
    @include link(#ffffff, #ffffff);
    font-size: 16px;
    position: relative;
    &:before{
      content: " ";
      display: block;
      position: absolute;
      left: 19px;
      top: 15px;
      width: 15px;
      height: 17px;
      background: url('../image/link-calc.png') no-repeat;
    }
    &:hover{
      &:before{
        -webkit-animation-name: mymove;
        -webkit-animation-duration: 500ms;
        //-webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: mymove;
        -moz-animation-duration: 500ms;
        //-moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: mymove;
        -ms-animation-duration: 500ms;
        //-ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;
        animation-name: mymove;
        animation-duration: 500ms;
        //animation-iteration-count: infinite;
        animation-timing-function: linear;
        //animation-timing-function: cubic-bezier(.15,1.12,.49,.84);
      }
    }
  }
}
@-ms-keyframes myscale {
  50% {
    transform: scale(1.1);
  }
}
@-moz-keyframes myscale {
  50% {
    transform: scale(1.1);
  }
}
@-webkit-keyframes myscale {
  50% {
    transform: scale(1.1);
  }
}
@keyframes myscale {
  50% {
    transform: scale(1.1);
  }
}
@-ms-keyframes mymove {
  50% {
    transform: translateX(-10px);
  }
}
@-moz-keyframes mymove {
  50% {
    transform: translateX(-10px);
  }
}
@-webkit-keyframes mymove {
  50% {
    transform: translateX(-10px);
  }
}
@keyframes mymove {
  50% {
    transform: translateX(-10px);
  }
}