.social{
  @include clearfix();
  margin: 40px 0px 0px 64px;
  @include old-ie{
    width: 174px;
  }
  @include m1000{
    margin: 15px 0 0;
    text-align: center;
  }
  &_link{
    float: left;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 39px;
    height: 39px;
    background: url('../image/social.png') 39px 0px no-repeat;
    margin: 0px 0px 0px 6px;
    &:first-child{
      margin: 0px;
    }
    &__vk{
      background-position: 0px 0px;
      &:hover{
        background-position: 0px -39px;
      }
    }
    &__fb{
      background-position: -39px 0px;
      &:hover{
        background-position: -39px -39px;
      }
    }
    &__tt{
      background-position: -78px 0px;
      &:hover{
        background-position: -78px -39px;
      }
    }
    &__ok{
      background-position: -117px 0px;
      &:hover{
        background-position: -117px -39px;
      }
    }
    @include m1000{
      float: none;
      display: inline-block;
    }
  }
}