$font: proximanova;
$bold: proximanova_bold;
$light: proximanova_light;
$italic: proximanova_italic;
$min_width: 1000px;
$font_size18: 18px;
$font_size20: 20px;
$font_size24: 24px;
$font_size14: 14px;
$font_size13: 13px;
$font_size12: 12px;
$font_size16: 16px;
$font_size_h1: 38px;
@import "mymix";
@import "fonts";
//**********************************************************/
//**********************************************************/
body{
  font-family: $font;
  font-size: $font_size18;
  min-width: $min_width;
}
p{
  
}
strong, b{
  font-family: $bold;
}
i{
  font-family: $italic;
}
.light{
  font-family: $light;
}
a{
  @include link(#373737, #373737);
  //font-family: $italic;
  //font-size: $font_size14;
  &:focus{
    outline: none;
  }
}
pre{
  white-space: normal;
}
h1, h2, h3, h4, h5, h6{
  
}
input::-moz-placeholder {

}
textarea::-moz-placeholder {

}
input::-webkit-input-placeholder{

}
textarea::-webkit-input-placeholder{

}
input{
  &:focus{
    outline: none;
  }
}
textarea{
   &:focus{
    outline: none;
  }
}
.hide{
  display: none;
}
//**********************************************************/
//**********************************************************/
@import "placeholder";
@import "title";

@import "button";
@import "header";
@import "container";
@import "topmenu";
@import "logo";
@import "address";

@import "form-discount";
@import "main-descr";

@import "arrow-bb";
@import "main1";
@import "main2";
@import "calc-tax";
@import "calc-extra";
@import "calc-slider";
@import "calc-result";
@import "main3";
@import "action";
@import "form-action";
@import "main4";

@import "footer";
@import "gmap";
@import "yamap";
@import "social";
@import "dev";