$font: proximanova;
$bold: proximanova_bold;
$light: proximanova_light;
$italic: proximanova_italic;
$font_size18: 18px;
$font_size14: 14px;
$font_size13: 13px;
$font_size16: 16px;
@import "mymix";
@import "fonts";
//**********************************************************/
//**********************************************************/
body{
  font-family: $font;
  font-size: $font_size18;
}
p{
  
}
strong, b{
  font-family: $bold;
}
i{
  font-family: $italic;
}
.light{
  font-family: $light;
}
a{
  //@include link(#373737, #373737);
  //font-family: $italic;
  //font-size: $font_size14;
  &:focus{
    outline: none;
  }
}
pre{
  white-space: normal;
}
h1, h2, h3, h4, h5, h6{
  
}
input::-moz-placeholder {

}
textarea::-moz-placeholder {

}
input::-webkit-input-placeholder{

}
textarea::-webkit-input-placeholder{

}
input{
  &:focus{
    outline: none;
  }
}
textarea{
   &:focus{
    outline: none;
  }
}
.hide{
  display: none;
}
//**********************************************************/
//**********************************************************/
@import "button";
@import "header";
@import "container";
@import "topmenu";
@import "logo";
@import "address";