.title{
  min-width: $min_width;
  min-height: 259px;
  padding: 61px 0px 61px 0px;
  position: relative;
  //overflow: hidden;
  /*&.bg-loaded{
    @include def-opacity(1);
  }*/
  &_wrap{
    position: relative;
  }
  &__main{
    height: 319px;
    border-bottom: 1px solid #ededee;
    padding: 43px 0px 43px 0px;
    background: url('../image/title-main-1920.jpg') 50% no-repeat;
    background-size: cover;
  }
  &__info{
    background: url('../image/title-info-1920.jpg') 50% no-repeat;
    background-size: cover;
  }
  &__about{
    background: url('../image/title-about-1920.jpg') 50% no-repeat;
    background-size: cover;
  }
  &__contact{
    background: url('../image/title-contact-1920.jpg') 50% no-repeat;
    background-size: cover;
  }
  &__tarifs{
    background: url('../image/title-tarifs-1920.jpg') 50% no-repeat;
    background-size: cover;
  }
  &__price{
    background: url('../image/title-price-1920.jpg') 50% no-repeat;
    background-size: cover;
  }
  &_h1{
    font-family: $bold;
    font-size: $font_size_h1;
    padding: 0px 0px 0px 33px; 
    margin: 0px 0px 45px 0px;
    color: #ffffff;
    text-transform: uppercase;
    border-left: 5px solid #ffffff;
    line-height: 0.77;
    height: 26px;
    &__main{
      width: 640px;
      border: none;
      padding: 0px 0px 0px 9px;
      margin: 0px 0px 87px 0px;
      line-height: 1.2;
    }
  }
  &_descr{
    width: 480px;
    padding: 0px 0px 0px 38px;
    p{
      color: #ffffff;
      font-size: $font_size20;
      line-height: 1.2;
    }
    &__main{
      width: 630px;
      padding: 0px 0px 0px 26px; 
      border-left: 3px solid #ffffff;
      p{
        font-size: $font_size24;
        line-height: 0.6;
        margin: 0px 0px 15px 0px;
      }
    }
  }
}