.user-content{
	padding: 0px 0px 54px 0px;
	h1, h2{
		font-family: $bold;
		font-size: 18px;
		text-transform: uppercase;
		margin: 0px 0px 18px 0px;
	}
	h3{
		font-family: $bold;
		font-size: 16px;
		text-transform: uppercase;
		margin: 0px 0px 18px 0px;
	}
	h4{
		font-family: $bold;
		font-size: 14px;
		text-transform: uppercase;
		margin: 0px 0px 18px 0px;
	}
	p{
		font-family: $light;
		font-size: 16px;
		color: #373737;
		line-height: 1.2;
		margin: 0px 0px 22px 0px;
	}
	hr{
		margin: 48px 0px 44px 0px;
		border: 0; 
		height: 2px; 
		background-image: linear-gradient(to right, rgba(120, 120, 120, 0) 10%, rgba(120, 120, 120, 1), rgba(120, 120, 120, 0) 90%);
	}
	a{
		@include link(#373737, #3498db);
		//text-decoration: none;
		font-family: $light;
		font-size: 16px;
	}
	ul{
		padding: 0px 0px 0px 30px;
		list-style-image: url('../image/list.png');
		list-style-type: disc;
	}
	li{
		font-family: $light;
		font-size: 16px;
		color: #373737;
		margin: 0px 0px 28px 0px;
	}
}